<div class="top-main">
    <div class="top-main-top mb-5">
        <div class="row">
            <div class="col-sm-4 text-right">
                <%= image_tag 'man.png', size: '150x210'%>
            </div>
            <div class="col-sm-4 align-self-center text-center">
                <p>エンジニになりたるために<br>
                ポートフォリオ作りたいけど<br>
                なに作ればいいんだろう？</p>
            </div>
        </div>
    </div>
    <div class="top-main-search">
        <div class="row justify-content-center">
            <div class="col-sm-4">
                <p>みんなのポートフォリオを見てみよう!</p>
            </div>
        </div>
        <%= form_tag(top_next_path, method: :get) do  %>
            <div class="row">
                <div class="col-sm-3 text-right align-self-center offset-1">
                    <%= select_tag("category_id", options_for_select(Category.change_order), class: "form-control")%>
                </div>
                <div class="col-sm-6">
                    <%= text_field_tag :search, @search, class: "form-control", placeholder: "キーワードを入力してください"%>
                </div>
                <div class="col">
                    <%= button_tag type: 'submit', class: 'btn btn-info' do %>
                        <i class="fa fa-search"></i>検索
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
    <div class="top-main-bottom mt-5">
        <div class="row justify-content-center">
            <div class="col-sm-4 align-self-center text-center offset-4">
                <p>みんなはどんなポートフォリオ<br>
                作ってるんだろう？<br>
                レベル感が知りたい</p>
            </div>
            <div class="col-sm-4">
                <%= image_tag 'women.png', size: '150x220'%>
            </div>
        </div>
    </div>
</div>

<div class="border-bottom-5 mt-5 mb-5"></div>

<div class="top_middle">
    <div class="discriptions">
        <div class="discription-first">
            <div class="row justify-content-center">
                <div class="col-sm-3">
                    <div class="discription-first-num">01</div>
                </div>
            </div>    
            <div class="discription-first-image">
                <div class="row">
                    <div class="col text-center">
                        <%= image_tag 'design.png', width: "100%", height: '100%'%>
                    </div>
                </div>
            </div>
            <div class="discription-first-text">
                <div class="row">
                    <div class="col text-center">
                        <p>他の人がどんな設計をしているか知れる！<br>
                        みんなの設計を参考にしてポートフォリオを作ろう
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="discription-second">
            <div class="row justify-content-center">
                <div class="col-sm-3">
                    <div class="discription-second-num">02</div>
                </div>
            </div>    
            <div class="discription-second-image">
                <div class="row">
                    <div class="col text-center">
                        <%= image_tag 'question.png', width: "100%", height: '100%'%>
                    </div>
                </div>
            </div>
            <div class="discription-second-text">
                <div class="row">
                    <div class="col text-center">
                        <p>いろいろなポートフォリオを見て<br>
                        自分のポートフォリオを決めれる<br>
                        自分の作りたい物がみつかるかも
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="discription-third">
            <div class="row justify-content-center">
                <div class="col-sm-3">
                    <div class="discription-third-num">03</div>
                </div>
            </div>    
            <div class="discription-third-image">
                <div class="row">
                    <div class="col text-center">
                        <%= image_tag 'level.png', width: "100%", height: '100%'%>
                    </div>
                </div>
            </div>
            <div class="discription-third-text">
                <div class="row">
                    <div class="col text-center">
                        <p>エンジニを目指している周りの<br>
                        レベルが知って<br>
                        高いレベルのポートフォリオを作ろう
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>