
<div class="row">
    <div class="col-sm-3">
        <p class="h2 mb-4 heading-text">検索</p>
    </div>
</div>
<%= form_tag(top_next_path, method: :get, class: "row") do  %>
    <div class="col">
        <%= text_field_tag :search, @search, class: "form-control", placeholder: "キーワードを入力してください"%>
    </div>
    <%= select_tag("category_id", options_for_select(Category.change_order, selected: @category_id), class: "mr-3")%>
    <%= button_tag type: 'submit', class: 'btn btn-info' do %>
        <i class="fa fa-search"></i>検索
    <% end %>
<% end %>
<div class="row">
    <div class="col-sm-3">
        <p class="h2 mb-5 mt-5 heading-text">投稿一覧</p>
    </div>
</div>

<%= render @posts %>
<%= paginate @posts %>


