
<div class="row">
    <div class="col-sm-3">
        <p class="h2 mb-5 heading-text">検索</p>
    </div>
</div>
<%= form_tag(top_next_path, method: :get) do  %>
    <div class="row">
        <div class="col">
            <%= text_field_tag :search, @search, class: "form-control", placeholder: "キーワードを入力してください"%>
        </div>
        <%= select_tag("category_id", options_for_select(Category.change_order, selected: @category_id), class: "mr-3")%>
        <%= button_tag type: 'submit', class: 'btn btn-info' do %>
            <i class="fa fa-search"></i>検索
        <% end %>
    </div>
    <div class="row mb-5">
        <div class="col-sm-2 offset-1 text-center mt-4"><p class="tag_label"><strong>タグ</strong></p></div>
        <div class="col-sm-6 mt-4">
            <% if @tag_list %>
                <% @tag_list.each do |tag| %>
                    <span class="tag mr-3">
                        <%= check_box_tag 'tag_ids[]', tag.id %>
                        <%= label_tag :tag_ids, tag.tag_name %>
                    </span>
                <% end %>
            <% end%>
        </div>
    </div>
<% end %>

<div class="row">
    <div class="col-sm-3">
        <p class="h2 mb-5 mt-5 heading-text">検索結果</p>
    </div>
</div>
<% if @posts.present? %>
    <%= render @posts %>
    <%= paginate @posts %>
<% else %>
    条件に一致する投稿が見つかりませんでした
<% end %>

