<p>検索</p>
<%= form_tag(top_next_path, method: :get) do  %>
    <%= text_field_tag :search, @search %>
    <%= submit_tag '検索', name: nil %>
<% end %>

<% @posts.each do |post| %>
    <%= link_to post_path(post) do %>　
        <%= post.user.name %>
        <%= post.title %>
        <% if post.images.attached? %>
            <% image = post.images[0]%>
            <%= image_tag image %>
        <% end %>
    <% end %>
<% end %>