<div class="row justify-content-center">
    <div class="col-sm-4">
        <p class="h2 heading-text">ポートフォリオ編集</p>
    </div>
</div>

<%= form_with(model: @post, local: true, class:"mb-5") do |f| %>
    <%= render "shared/error_messages", object: f.object%>
    <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control"%>
    </div>

    <div class="form-group">
        <%= f.label :category_id, "カテゴリ", class: "mt-4"%>
        <%= f.select :category_id, Category.all.map { |o| [o.name, o.id]}, class: "form-control"%>
    </div>

    <div class="form-group mt-5">
        <%= f.label :tag_ids, "タグ" %>
        <%= f.text_field :tag_ids, value: @tag_list, class: "form-control", placeholder: "複数タグをつける際は`,`で区切ってください"%>
    </div>

    <div class="form-group mb-4 mt-4">
        <%= f.label :discription %>
        <%= f.text_area :discription, class: "form-control form-control-lg", row: "20" %>
    </div>

    <div class="form-group mt-5">
        <%= f.label :images, 'イメージ画像' %>
        <%= f.file_field :images, multiple: true, class: "form-control-file" %>
    </div>

    <div class="form-group mt-4">
        <%= f.label :github_url %>
    <%= f.url_field :github_url, class: "form-control" %>
    </div>

    <div class="form-group mt-4">
        <%= f.label :app_url %>
        <%= f.url_field :app_url, class: "form-control"%>
    </div>

    <div class="form-group mt-5">
        <%= f.submit '更新', class: "btn btn-info form-control"%>
    </div>
<% end %>