
<%# 投稿内容　%>
<div class="row border-bottom-5">
    <div class="col">
        <%= link_to user_path(@post.user) do %>
            <%= image_tag @post.user.image, size: '80x80', class: 'rounded-circle mr-3'%>
            <span class="user-name"><%= @post.user.name %></span>
        <% end %>
    </div>

    <div class="col text-right m-auto">
        <% if current_user?(@user) %>
            <%= link_to edit_post_path(@post), class:"mr-2" do %>
                <i class="fa fa-edit edit"></i>
            <% end %>
            <%= link_to @post, method: :delete, data: { confirm: "この投稿を削除しますか？"} do %>
                <i class="fa fa-trash trash"></i>
            <% end %>
        <% end %>
    </div>
</div>

<div class="row mt-5 mb-2">
    <div class="col-md-3">
        <p class="h3">アプリ名</p>
    </div>
</div>

<div class="title">
    <p><%= @post.title %></p>
</div>

<div class="row mb-2">
    <div class="col-md-3">
        <p class="h3">概要</p>
    </div>
</div>

<div class="mb-3">
    <%= safe_join(@post.discription.split("\n"), tag(:br)) %>
</div>

<div class="row mb-3">
    <div class="col-md-3">
        <p class="h3">GitHub</p>
    </div>
</div>
<div class="mb-3">
    <%= link_to @post.github_url, @post.github_url %>
</div>


<div class="row mb-3">
    <div class="col-md-3">
        <p class="h3">App URL</p>
    </div>
</div>

<div class="mb-3">
<%= link_to @post.app_url, @post.app_url %>
</div>

<%# イメージ画像表示　%>

<div class="row mb-4">
    <div class="col-md-3">
        <p class="h3">イメージ</p>
    </div>
</div>
<% i = 0 %>
<div id="example-2" class="carousel slide" data-ride="carousel" style="width:100%, heiht:100%">
    <div class="carousel-inner">
        <% @post.images.each do |image| %>
            <% if i == 0 %>
            <div class="carousel-item active">
                <%= image_tag(image) %>
            </div>
            <% else %>
            <div class="carousel-item">
                <%= image_tag(image) %>
            </div>
            <% end %>
            <% i += 1 %>
        <% end %>
        <a class="carousel-control-prev" href="#example-2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#example-2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<%# いいね %>
<% if logged_in?%>
    <div class="row mt-4 mb-5">
        <div class="col-sm-3 offset-sm-2 text-center">
            <div id="likes_buttons">
                <%= render partial: 'likes/like', locals: { post: @post } %>
            </div>
        </div>
        <div class="col-sm-2 offset-sm-2 text-center">
            <%= link_to "https://twitter.com/intent/tweet?url=#{ request.url }&text=#{@user.name}の#{@post.title}を見てみる", class: "twitter-link" do %>
                <%= fa_icon("twitter")%>Tweet
            <% end%>
        </div>
    </div>
<% end %>

<%# コメントフォーム%>
<div class="row pl-2">
    <div class="col-md-3">
        <p class="h3 mt-3 mb-4">コメント</p>
    </div>
</div>
<% if logged_in? %>
    <%= form_with(model: [@post, @comment], method: :post, class:"mb-4" ) do |f| %>

        <div class="comment-area">
            <%= f.text_area :body, placeholder: "コメントする", class: "form" %>
        </div>

        <%= f.hidden_field :post_id, value: @post.id %>
        <div class="row">
            <div class="col-sm-3 ml-5 text-right">
                <%= f.submit "投稿", class: "comment-btn"%>
            </div>    
        </div>
    <% end %>
<% else %>
    <p>ログインしてコメントする</p>
<% end %>

<%# コメント一覧　%>
<% @comments.each do |comment|%>
        <div class="row">
            <div class="col m-1">
                <%= image_tag comment.user.image, size: '40x40' %>
                <%= comment.user.name%>
            </div>
            <% if current_user %>
                <% if current_user?(comment.user) %>
                    <%= link_to edit_post_comment_path(@post.id, comment.id), class: "mr-2" do %>
                        <i class="fa fa-edit edit"></i>
                    <% end %>
                    <%= link_to post_comment_path(@post.id, comment.id ), method: :delete, data: { confirm: "このコメントを削除しますか？" }, class: "mr-4"  do %>
                        <i class="fa fa-trash trash"></i>
                    <% end %>
                <% end %>
            <% end %>
        </div>
        <div class="pl-5 mb-5 border border-info rounded-lg">
            <%= safe_join(comment.body.split("\n"), tag(:br)) %>
        </div>
<% end %>



