<%# 投稿内容　%>
<%= link_to user_path(@post.user) do %>
    <%= image_tag @post.user.image, size: '40x40', class: 'rounded-circle'%>
    <%= @post.user.name %>
<% end %>
<%= @post.title %>
<%= safe_join(@post.discription.split("\n"), tag(:br)) %>
<%= @post.github_url %>
<%= @post.app_url %>

<%# イメージ画像表示　%>
<% if @post.images.attached? %>
    <% @post.images.each do |image| %>
        <%= image_tag image %>
    <% end %>
<% end %>



<% if current_user?(@user) %>
    <%= link_to '編集', edit_post_path(@post) %>
    <%= link_to "削除", @post, method: :delete, data: { confirm: "この投稿を削除しますか？"} %>
<% end %>

<%# いいね %>
<% if logged_in?%>
    <div id="likes_buttons">
        <%= render partial: 'likes/like', locals: { post: @post } %>
    </div>
<% end %>

<%# twitter share %>
<%= link_to "https://twitter.com/intent/tweet?url=#{ request.url }&text=#{@user.name}の#{@post.title}を見てみる" do %>
    Twitterでシェア
    <%= fa_icon("twitter")%>
<% end%>





<%# コメントフォーム%>
<% if logged_in? %>
    <%= form_with(model: [@post, @comment], method: :post ) do |f| %>

    <%= f.label :body , 'コメント'%>
    <%= f.text_field :body %>

    <%= f.hidden_field :post_id, value: @post.id %>

    <%= f.submit "コメントを投稿"%>

    <% end %>
<% else %>
    <p>ログインしてコメントする</p>
<% end %>

<%# コメント一覧　%>
<p>コメント一覧</p>
<% @comments.each do |comment|%>
    <% if comment.user.image.attached? %>
        <%= image_tag comment.user.image, size: '40x40' %>
    <% end %>
    <%= comment.user.name%>
    <%= comment.body%>
    <%# if comment.user_id == current_user.id %>
        <%#= link_to '削除', post_comment_path(@post.id, comment.id), method: :delete %>
    <%# end %>
<% end %>
