<header>
  <nav class="navbar navbar-expand-lg navbar-light p-3 ">
      <a class="navbar-brand" href="/"><strong>Ss</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <% if logged_in? %>
              <li class="nav-item"><%= link_to '検索' , top_next_path, class: "nav-link" %></li>
              <li class="nav-item"><%= link_to '新規投稿' , new_post_path, class: "nav-link" %></li>
              <li class="nav-item"><%= link_to 'ユーザー' , user_path(current_user), class: "nav-link" %></li>
              <li class="nav-item">
                  <% if unchecked_notifications.any?%>
                    <%= link_to notifications_path, class: "nav-link" do %>
                      <span>通知</span>
                      <i class="fa fa-circle new-notification-color"></i>
                    <% end %>
                  <%else%>
                    <%= link_to '通知', notifications_path, class: "nav-link"%>
                  <% end %>
              </li>
              <li class="nav-item"><%= link_to 'ログアウト', logout_path, method: :delete, class: "nav-link" %></li>
          <% else %>
              <li class="nav-item"><%= link_to 'ゲストログイン', gest_user_path, class: "nav-link" %></li>
              <li class="nav-item"><%= link_to '新規登録', new_user_path, class: "nav-link" %></li>
              <li class="nav-item"><%= link_to 'ログイン', login_path, class: "nav-link" %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
